<header class="main-header">
    <a href="/users/index" class="logo">
       <!-- Logo -->
       <span class="logo-mini">
       <img src="/img/stock.jpg" alt="">
       </span>
       <span class="logo-lg">
       <img src="/img/stock.jpg" alt="">
       </span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-expand py-0">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" >
         <!-- Sidebar toggle button-->
         <span class="sr-only">Toggle navigation</span>
         <span class="pe-7s-angle-left-circle"></span>
      </a>
      <div class="collapse navbar-collapse navbar-custom-menu" >
        <ul class="navbar-nav ml-auto">         
         <!-- User -->
          <li class="nav-item dropdown dropdown-user">
            <a class="nav-link" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/img/users/<%= locals.userLogged.image %>" class="rounded-circle" width="50" height="50" alt="user"></a>           
            <div class="dropdown-menu drop_down" >
                 <div class="menus">
                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> User Profile</a>
                    <a class="dropdown-item" href="/users/logout"><i class="fa fa-sign-out"></i>Log out</a>                    
                 </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</header>